<form [formGroup]="emailForm" class="emailForm">
  <div class="form-field" formArrayName="services">
    @for (service of services().controls; track service; let i = $index) {
      <div [formGroupName]="i">
        <div class="form-field">
          <input type="checkbox"  formControlName="selected"><label>Service: {{servicesPayload.services[i].service}}</label>
        </div>  
        <div class="form-field">
          @if (servicesPayload.services[i].hours_mod === true && service.value.selected === true) {
            <label>number of hours:</label><input type="number" min="0" formControlName="hours">
          }
        </div>
      </div>

    }
  
  </div>
  <div class="form-field">
    <label>Email:</label>
    <input id="email" type="text" formControlName="email" required>
    @if (emailForm.controls['email'].invalid) {
      <p>Email is required and must be of the form xxx&#64;xxx.xxx.</p>
    }
  </div>     
  <div class="form-field">
    <label>Name:</label>
    <input id="name" type="text" formControlName="name" required>
    @if (emailForm.controls['name'].invalid) {
      <p>Name and is required.</p>
    }  
  </div>
  <div class="form-field">
    <label>Description:</label>
    <textarea id="description" formControlName="description" required></textarea>
    @if (emailForm.controls['description'].invalid) {
      <p>Name and is required.</p>
    }  
  </div>
  <div class="submit-button">
    <button [disabled]="!emailForm.valid" class="button button-primary" (click)="submitEmail()">Send service request email</button>
  </div>
</form>