body.main{
text-align: center;
  
    height: 80vh;
    justify-content: space-between;
    
   
}

div.title{
    background: url(
        'https://gerald-young.github.io/spa_angular_base/assets/landscape.jpg');
         
                
    background-image: "";
    min-height: 20%;
    place-content: center;


}
div.add_copy{
    min-height: 40%;
    place-content: center;

}
div.submit_form{

    min-height: 40%;

    place-content: center;
    

}

li {
    list-style: none;
  }

  h2 {
margin:0;
  }