<div class="main">
  <div class="title">
    <p class="imgText">Freyja's Garden Studios, Service Request Form.</p>  
    <div class="imgBackground"> </div>
  </div>
  <div class="add_copy">
    <p>
      Here at Freyja's Garden Studios we develop web applacations to solve your problems.
      whether that be a personal portfolio or a user interface to collect data, 
      if it is a web app we can build it!

    </p><br/>
    <p>we offer the following base tempaltes to build from:</p>
    <ul> 
      <li>Single webpage with applcation form, 30$ per hour to build.</li>
      <li>Single webpage with crud api, 60$ per hour to build.</li>
      <li>5 webpages of text/pictuers, 50$.</li>

    </ul>
    <p> Please use this site, http://localhost:4200/, and http://localhost:4203/ as examples of these templates in action.</p>
    <br/>

    <p>
      Our avrege build time is 1-2 hours, and there is a two day turn around on projects. With one day spent configuering colors and layout to match your design vision, free of charge!
      This is to delivery you the highest quality applacations at the fairest price.
     </p><br/>
    <p>
     If our templates meet your needs and our exaples align with your degin vision then please fill out the form below.
     Our lead devolperler will be in contact before tomorrow to disccues your project and how to best serve your creative vison.
    </p>
  </div>
  <div class="form">
  <app-submit-form/>
  </div>
</div>

