div.main{
    text-align: center;
    display: block;
    padding-top: 75px;
    height: 100vh;

}

div.background{
    
    background: url('https://gerald-young.github.io/spa_angular_base/assets/serverRoom.jpg');
    background-size: 100vw 200px;  
    width: 100vw;
    height: 200px;  
    background-repeat: no-repeat;
    min-height: 200px;
    place-content: center;
    filter: blur(5px); 
    grid-area: 1 / 1;
    z-index: -2;


}

h1.imgText{ 
    grid-area: 1 / 1;
    z-index: -1;
}

div.title{
   
    font-weight: bold;
    border: 3px solid #f1f1f1;
    display: grid;
    place-content: center;
    align-items: center;

}

div.add_copy{
    min-height: 40vh;
    place-content: center;

}
div.submit_form{

    min-height: 40vh;

    place-content: center;
    

}

li {
    list-style: none;
  }

  h2 {
margin:0;
  }