div.main{
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 65px;

}

div.imgBackground{

    background: url('https://gerald-young.github.io/spa_angular_base/assets/serverRoom.jpg');
    background-size: 100vw 200px;  
    width: 100vw;
    min-height: 150px;
    background-repeat: no-repeat;
    place-content: center;
    filter: blur(5px) grayscale(1);
    
    grid-area: 1 / 1;
    z-index: -2;


}

p.imgText{ 
    grid-area: 1 / 1;
    z-index: -1;
    margin: auto;
    font-size: 27px;

}

div.title{
  
    font-weight: bold;
    border: 3px solid #ffffff;
    display: grid;
    place-content: center;
    height: 150px;


}

div.add_copy{
    place-content: center;
    min-height: 250px;
    background-color: rgba(69, 195, 145, 0.70);
    border-radius: 20px;
    max-width: 90vw;

    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}




  h2 {
margin:0;
  }


  ul{
    display: inline-block;
    text-align: left;
  }



  div.form{
    place-content: center;
    min-height: 250px;
    background-color: rgba(69, 195, 145, 0.70);
  
    border-radius: 20px;
    max-width: 90vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
