<app-header />

<div class="main">

  <div class="title">
  
  <h1>Bush Munchers Landscaping services</h1>
  </div>
  <div class="add_copy">
  <p>
    Got an unruly lawn? An oversized bush? A tree that needs pruning? With our
    expert team of bush munchers, we can transform your overgrown mess into a butiful lsuh, 
    habital landsape.
  </p>
  <br/>

    <p>we offer the following services</p>
    <li> 
        <p>lawn mowing: 10$ per hour.</p>
        <p>lawn edging: 20$.</p>
        <p>rock wall: 100$.</p>
        <p>bush munching: 69$ per hour, max four hours.</p>
        <p>tree triming: 30$ per hour.</p>
        <p>gardening: 15$ per hour.</p>
    </li>
      
  </div>
  <div class="submit_form">
    <p>
      Please submit the services you want, your email, and your adress. A service
      request will be created and emailed from your email to our office email and you will hear from us shortly.
    </p>
    <br/>
  <app-submit-form/>
</div>

<app-footer/>
</div>

