/* You can add global styles to this file, and also import other style files */


    
:root {
    width: 100%;
    min-height: 100%;

    display: block;
    position: relative;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;


}

 p{
    margin: 0;
 }

 html,body {
   min-height: 100vh;
   margin: 0;
   padding: 0;
}
* {
   box-sizing: border-box;
}

 
 

